# Ignore node_modules directory
node_modules/

# Ignore npm debug log
npm-debug.log

# Ignore yarn integrity file
.yarn-integrity

# Ignore pnpm debug log
pnpm-debug.log

# Ignore package-lock files
package-lock.json
yarn.lock

# Ignore optional lint config file
.eslintrc.local
