<% layout('./layouts/boilerplate') %>
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-8 offset-2 col-md-6 offset-md-3 col-xl-4 offset-xl-4">
            <div class="card shadow">
                <div class="card-body">
                    <img src="https://www.nps.gov/mora/planyourvisit/images/OhanaCampground2016_CMeleedy_01_web.jpeg?maxwidth=1300&maxheight=1300&autorotate=false"
                        alt="" class="card-img-top">
                    <h5 class="card-title">Login</h5>
                    <form action="/register" method="post" class="validate-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">username</label>
                            <input class="form-control" type="text" name="username" id="username" autofocus required >
                            <div class="invalid-feedback">
                                Please write a name.
                            </div>
                        </div>
                    
                        <div class="mb-3">
                            <label class="form-label" for="email">email</label>
                            <input class="form-control" type="email" name="email" id="email" required >
                            <div class="invalid-feedback">
                                Please write a email.
                            </div>
                        </div>
                        
                        <div class="mb-3">
                            <label class="form-label" for="password">password</label>
                            <input class="form-control" type="password" name="password" id="password" required >
                            <div class="invalid-feedback">
                                Please write a password.
                            </div>
                        </div>
                        <button class="btn btn-success btn-block">register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



